.footer {
    border-top: solid 10px rgba(66, 65, 65, 0.612);

}

#ul-footer {text-align: center;
    color: #fff;
    cursor: pointer;
    list-style: none;
}

#ul-footer li:hover {
    text-decoration: underline;

}

.title {text-align: center;
    color: #fff;
    margin-top:30px;
}